html {
  position: relative;
  min-height: 100%;
}

/* General Style */

body {
  margin-bottom: 100px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background: #03203a;
  color: black;
  overflow-x: hidden;
  height: 100%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: #E0E0E0;
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 40px;
  align-items: center;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media (max-width: 767px) {
  /* Style for screen sizes up to 767px */
  br {
      display: none;
  }
}

@media (min-width: 768px) {
  /* Style for screen sizes 768px and above */
  br {
      display: block;
      margin: 10px 0;
  }
}

/* Navigation bar style */

nav {
  width: 100%;
  background-color: #a9d2ff;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.navbar {
  position: relative;
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-toggler:hover {
  color: #03203a;
  box-shadow: 0 0 0 2px;
}

.navbar ul li {
  position: relative;
  margin-left: 2.5em;
  margin-right: 1rem;
}

.navbar ul li a {
  position: relative;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #E0E0E0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}

/* Section dividers */

.form-section,
.project-section,
.skills-section,
.about-section,
.home-section {
  margin-bottom: 20vw;
  position: relative;
}

.form-section::before,
.project-section:before,
.skills-section:before,
.about-section:before,
.home-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: -1;
  background-size: cover;
}

.project-section:after,
.skills-section:after,
.about-section:after,
.home-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 400px;
  background-size: 100%;
  transform: translate(0, 100%);
  z-index: -1;
}

.form-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-size: 100%;
  transform: translate(0, 100%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .form-section:after,
  .project-section:after,
  .skills-section:after,
  .about-section:after,
  .home-section:after {
    max-height: 200px;
  }
}

/* Table formating */

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
}

.tg td {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 19px 20px;
  word-break: normal;
}

.tg th {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 19px 20px;
  word-break: normal;
}

.tg-img {
  border-color: rgba(0, 0, 0, 0);
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.tg .tg-text-1 {
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 400px;
  font-family: 'Poppins', sans-serif;
}

.tg .tg-text-2 {
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 100px;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }

  .tg col {
    width: auto !important;
  }

  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}

/* Home section*/

.home-section {
  background-color: #ffffff;
}

.home-section .banner-section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home-section .banner-title {
  position: relative;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

.home-section .banner-desc {
  position: relative;
  font-size: 20px;
  font-weight: 500;
}

.home-section .banner-btn {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c2c1c1;
}

.home-section .container {
  position: relative;
  text-align: center;
  color: black;
}

/* About me section*/

.home-section:after {
  background-color: #a9d2ff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.about-section {
  background-color: #a9d2ff;
}

.about-section .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.about-section .reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.about-section .about-title {
  position: relative;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: black;
  text-align: center;
}

.about-section .about-desc {
  position: relative;
  font-size: 22px;
  font-weight: 500;
}

.about-section img {
  max-width: 70%;
  clip-path: circle();
  display: block;
  margin: 0 auto 0 auto;
}

.about-section .container {
  position: relative;
  text-align: justify;
  color: black;
}

/* Skills section*/

.about-section:after {
  background-color: #8cc7ff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%23a9d2ff    '/></svg>");
}

.skills-section {
  background-color: #8cc7ff;
}

.skills-section .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.skills-section .reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.skills-section .container {
  color: black;
  display: flex;
  margin: auto;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}

/* Projects section*/

.skills-section:after {
  background-color: #6BADE8;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%238cc7ff' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.project-section {
  background-color: #6BADE8;
}

.project-section .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.project-section .reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.project-section .container {
  color: black;
}

.project-section img {
  border-color: rgba(0, 0, 0, 0);
  text-align: center;
  border-radius: 20px;
  vertical-align: middle;
  width: 70%;
}

.project-section .project-btn {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  border: 0;
  background: #ffffff;
  color: #070707;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.project-section .project-btn:hover {
  background: #a9d2ff;
}

/*Contact section*/

.project-section:after {
  background-color: #2772b4;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%236BADE8      '/></svg>");
}

.form-section {
  background-color: #2772b4;
}

.form-section .contact-section {
  background: url() no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.form-section .contact-section h1 {
  text-align: center;
  color: #ddd;
  font-size: 40px;
}

.form-section .contact-form {
  max-width: 600px;
  font-weight: 400px;
  font-size: 18px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.form-section .contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ffffff;
  padding: 20px 40px;
  outline: none;
  color: #000000;
  transition: 0.5s;
}

.form-section .contact-form-text:focus {
  box-shadow: 0 0 10px 4px #050505;
}

.form-section textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.form-section .contact-form-btn {
  float: right;
  border: 0;
  background: #ffffff;
  color: #070707;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.form-section .contact-form-btn:hover {
  background: #a9d2ff;
}

/*Footer section*/

.form-section:after {
  background-color: #03203a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%232772b4'/></svg>");
}

.footer-section {
  background: #03203a;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

.footer-section .social-media .footer-list {
  position: relative;
  margin: 0 0 40px 0;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.footer-section .social-media .footer-list li {
  float: left;
  margin-right: 20px;
}

.footer-section .social-media .footer-list li:last-child {
  margin-right: 0;
}

.footer-section .social-media .footer-list li a {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer-section .social-media .footer-list {
    flex-wrap: wrap;
  }

  .footer-section .social-media .footer-list li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-section .social-media .footer-list li:last-child {
    margin-bottom: 0;
  }
}